* {
    box-sizing: border-box;
    background: lightgrey;
}

canvas {
    display: block;
    width: 80vh;
    height: 50vh;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background: #008000;
}